body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(199, 199, 199);
    padding: 10px;
    margin-bottom: 5px;
}

nav{
    background-color: rgba(133, 133, 133, 0.616);
    padding: 10px;
    box-shadow: 1px 1px 2px black; /*horizontal, vertical, embaçamento, alcance, cor*/
}
nav > a  {
    color: black;
    text-decoration: none;
    margin: 10px;
}
nav:hover > a {
    color: white;
}

main{
    background-color: rgba(87, 87, 87, 0.671);
    padding: 10px;
}
article{
    background-color: rgba(170, 170, 170, 0.918);
    padding: 10px;
    border-radius: 4px;
    border: 2px solid black;
}
aside{
    background-color: white;
    border-radius: 0px 10px 10px 0px ;
    /*
    4 valores:
    superior esquerdo, sup direio, inferior direito, inferior esquerdo
    2 valores:
    superior esquerdo e inferior direito
    superior direito e inferior esquerdo
    */
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 10px;
}
footer > p {
    margin: 0px;
    padding: 1px;
}

#bola{
    height: 300px;
    width: 300px;
    background-color: rgb(80, 80, 80);
    margin: 20px;
    border-radius: 50%;
}
h1{
    box-shadow: 1px;
}